.taskContainer {
    // display: flex
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 17fr 1fr;


    button {
        width: 25px;
        height: 25px;
        align-self: center;
    }

}

.taskTitle {
    border-bottom: 1px solid gray;
    margin-right: 5px;
}